.frame {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.frame .div-2 {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
}

.frame .text-wrapper-3 {
    color: var(--text-color);
    font-family: "Sansation-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    height: 45px;
    left: 787px;
    letter-spacing: 0.31px;
    line-height: normal;
    position: absolute;
    top: 12px;
    white-space: nowrap;
}

.frame .breadcrumb {
    align-items: center;
    display: inline-flex;
    gap: 15px;
    left: 98px;
    padding: 10px 0px;
    position: absolute;
    top: 49px;
}

.frame .link {
    color: var(--text-color);
    font-family: var(--link-font-family);
    font-size: var(--link-font-size);
    font-style: var(--link-font-style);
    font-weight: var(--link-font-weight);
    letter-spacing: var(--link-letter-spacing);
    line-height: var(--link-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.frame .topcoat-next-light {
    height: 12px;
    position: relative;
    width: 7px;
}

.frame .h-3 {
    color: var(--text-color);
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    left: 98px;
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    position: absolute;
    text-align: center;
    top: 138px;
    white-space: nowrap;
}

.frame .list-item-5 {
    left: 98px !important;
    position: absolute !important;
    top: 303px !important;
    width: 1730px !important;
}

.frame .list-item-instance {
    left: 1604px !important;
}

.frame .list-item-5-instance {
    width: 1613px !important;
}

.frame .design-component-instance-node {
    left: 1606px !important;
}

.frame .div-3 {
    height: 129px;
    left: 1423px;
    position: absolute;
    top: 139px;
    width: 405px;
}

.frame .btn-19 {
    display: flex !important;
    left: 193px !important;
    position: absolute !important;
    top: 0 !important;
    width: 212px !important;
}

.frame .btn-instance {
    left: 193px !important;
    position: absolute !important;
    top: 71px !important;
}

.frame .form-input-14 {
    left: 0 !important;
    position: absolute !important;
    top: 75px !important;
    width: 174px !important;
}
