<div class="h-75 row align-items-center">
  <div class="offset-2 col-8">
    <h1 class="text-center">Разделяй и плати</h1>
    <h3 class="text-center ">Приложение для совместного разделения чека</h3>
    <div class="d-grid gap-2 mt-5 col-6 mx-auto">
        <button class="btn btn-outline-primary" (click)="redirectButton()">
          Попробовать сейчас!
        </button>
    </div>
  </div>
</div>

<div class="h-25 row align-items-end">
  <div class="offset-3 col-6 text-center">

    <img src="../../../assets/images/ios.png" >
    <img src="../../../assets/images/android.png" >
  </div>
</div>